.idea
./infra_iaas/terraform.tfstate
infra_iaas/.terraform.lock.hcl
infra_iaas/.terraform/*
infra_iaas/terraform.tfstate
infra_iaas/terraform.tfstate.backup
infra_iaas/inventory.ini
infra_iaas/terraform.tfvars
infra_iaas/plan.out
./infra_caac/terraform.tfstate
infra_caas/.terraform.lock.hcl
infra_caas/.terraform/*
infra_caas/terraform.tfstate
infra_caas/terraform.tfstate.backup
infra_caas/inventory.ini
infra_caas/terraform.tfvars
infra_caas/plan.out