.idea
./infra/terraform.tfstate
infra/.terraform.lock.hcl
infra/.terraform/*
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/inventory.ini
infra/terraform.tfvars
infra/plan.out
./infra_caac/terraform.tfstate
infra_caac/.terraform.lock.hcl
infra_caac/.terraform/*
infra_caac/terraform.tfstate
infra_caac/terraform.tfstate.backup
infra_caac/inventory.ini
infra_caac/terraform.tfvars
infra_caac/plan.out